/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0px;
	margin: 0px;
	border: 0px;
	outline: 0px;
} */
*{
	padding: 0px;
	margin: 0px;
	border: 0px;
	outline: 0px;
}
html,body{
	width:100%;font-size: 14px;background: white;font-family: SimSun;position: relative;word-wrap: break-word; word-break: normal;color: #222;
}
html{
    height: 100%;overflow-y: auto;
}
body{
	height:auto;overflow: hidden;font-size:14px;
}
img{border: none;display: block;}
input{border: none;outline: none;padding: 0px;margin: 0px;}
input,a,div,span,li,dt,dd,form,select{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

select{appearance:none; -moz-appearance:none; -webkit-appearance:none; -ms-appearance:none;}
a{text-decoration: none;}
dl,ul{list-style: none;}


.search{
	-webkit-box-flex:1;height:30px;border-radius: 14px;background-color: white; margin-left: 10px;
	position: relative;
}
.search .mui-icon-search{margin-left: 4px;margin-top: 4px;height: 19px; overflow: hidden;}

.search i{
      position: relative;
	  display: block;
	  height: 30px;
	  width: 40px;
	  text-align: center;
	  line-height: 30px;
	  color: #A9A9A9;
	  font-size: 1.6rem;
}
.icon-search{display:block;margin-left: 10px;width:auto;font-size:20px;}

.search .text{
    position: absolute;height:30px;top:50%;margin-top:-15px;left: 36px;right:15px;
}
.search .text input{width: 100%;height:30px;/*font-weight: bold;*/font-size: 1.0rem;border:none;}


.slider{
    width: 100%;height:auto;overflow: hidden;margin-top: 50px;
}

.slider img{width:100%;}


a {
	color: #222;
	text-decoration: none;
}


img {
	vertical-align: middle;
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	max-width:100%;
	max-height:100%;

}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}

ul {
	list-style-type: none;
}

input {
	vertical-align: middle;
	outline: none;
}

textarea {
	outline: 0px;
	resize: none;
}

#cnzz_stat_icon_1256167121{display:none!important;}
/* ---------- Base ---------- */

.black {
	color: black;
}

.white {
	color: white;
}

.gray {
	color: gray;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.hidden {
	display: none;
}

.clearfix {
	*zoom: 1;
}
.clearfix:after {content:""; display:block; height:0; visibility:hidden; clear:both; } 


/* ---------- Message ---------- */

div.xxMessage {
	padding: 10px 30px;
	display: none;
	position: fixed;
	_position: absolute;
	top: 25%;
	_top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(25 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + "px");
	left: 50%;
	z-index: 100;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 6px #999999;
	-moz-box-shadow: 1px 1px 6px #999999;
	box-shadow: 1px 1px 6px #999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=0,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=270,strength=3)";
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=0,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=270,strength=3);
	border: 1px solid #999999;
	background-color: #ffffff;
	left:25px;right:25px;
}

div.xxMessage .messageContent {
	line-height: 24px;
	padding: 0px 10px 0px 30px;
	color: #666666;
}

div.xxMessage .messagewarnIcon {
	background: url(../../images/common.gif) -60px -330px no-repeat;
}

div.xxMessage .messagesuccessIcon {
	background: url(../../images/common.gif) -30px -360px no-repeat;
}

div.xxMessage .messageerrorIcon {
	background: url(../../images/common.gif) 0px -390px no-repeat;
}

div.xxMessage .messageIframe {
	width: 2000px;
	height: 2000px;
	position: absolute;
	left: -100px;
	top: -100px;
	z-index: -1;
}


/*娑撳﹣绗呴幏澶婂З*/



.index-md{background:#F0F0F0;padding-bottom: 5px;}
.index-md .t{
	height:40px;background: #EFEFEF;
}

.index-md .t i{
	display: block;width: 6px;background: #E9598B;height:100%;float: left;
}
.index-md .t span{
	display: block;color: #E9598B;height:100%;float: left;line-height: 40px;margin-left: 5px;
}
.index-md .ig{
	height:auto;
}

.index-md .ig img{
	width:100%;display: block;
}

.index-md ul{
	height:auto;overflow: hidden;
}
.index-md li{
	width: 50%;height:auto;float: left;
}
.index-md li div{
	  margin: 4px 2px 0px 2px;
	  height: auto;
	  position: relative;
	  background: white;
	  color: #686868;
	  font-size: 1.0rem;
}
.index-md li div img{
	width: 100%;overflow: hidden;
}

.index-md li div .name{
	height: 40px;line-height: 20px;overflow: hidden; padding: 0px 4px;display: block;border-top:solid 1px #eee;min-height:42px;line-height:18px;padding-top:6px;
}

.index-md li div .price{  
	/*border-top: 1px dashed #D2D3D3;*/
	height: 30px;line-height: 30px;overflow: hidden; margin: 0px 4px;display: block;color: #1655bf;font-size: 13px;display:-webkit-box;
}




img{display:inline-block;}
.mui-bar{background:#fff;box-shadow: none;}

/*sydm*/
.mui-table-view-cell:after,.mui-table-view:after{background-color:#ebebeb;}
.d-table-view:before,.d-table-view:after{background-color: transparent;}
.d-table-view .mui-table-view-cell:after{background-color: transparent;}
.d-table-view.mui-table-view.mui-grid-view .mui-table-view-cell{}
.d-table-view.mui-grid-view.mui-grid-9 .mui-table-view-cell{}
.d-table-view.mui-grid-view.mui-grid-9{background:transparent;}
.d-table-view.mui-grid-view.mui-grid-9 .mui-media{background: transparent;}
.d-table-view.mui-grid-view.mui-grid-9 .mui-media,body{color: #4c4c4c;}
body{background:#f6f6f6;min-height:100%;}

.mui-table-view-cell>a:not(.mui-btn).mui-active{background:#f8f6f7;}

.d-input-group.mui-input-group:after,.d-input-group.mui-input-group:before,.d-input-group.mui-input-group .mui-input-row:after,.d-input-group.mui-input-group{background-color:transparent;}



.slider{margin-top:0;}
.d-index-searchbox{position:absolute;left:0;right:15px;z-index:2;top:8px; opacity: 0.8;}
.search .text input{padding:0;margin-bottom:0;}
.btn_saoyisao{text-align:center;color:#fff;right:-42px;top:0;font-size:12px;position:absolute;}
.btn_saoyisao img{width:20px;width:34px;margin-top:-4px;display:none;}
.d-index-searchbox .icon-search{font-size:20px;margin:0;}
.d-index-searchbox .mui-icon-search{display:none;}
.d-index-searchbox .text input{line-height:17px;background-color:transparent!important;}


.d-item-group{margin-bottom:5px;border-bottom:solid 1px #eee;background:#fff!important;box-shadow:1px 0 3px #ddd;}
.d-nav-ico{background:#fff!important;padding:5px 10px!important;}
.d-nav-ico.mui-grid-view.mui-grid-9 .mui-table-view-cell{text-align:center;padding:5px;}
.d-nav-ico.mui-grid-view.mui-grid-9 .mui-table-view-cell a{padding:0;}
.d-nav-ico.mui-grid-view.mui-grid-9 .mui-table-view-cell .mui-media-body{font-size:12px;}
.d-nav-ico.mui-grid-view.mui-grid-9 .mui-table-view-cell img{width:40px;display:inline-block;}

.d-top-news{padding:5px 8px;border-top:solid 1px #eee;}
.d-top-news-title{float:Left;background:url(../images/btn_011.png) no-repeat 0 50%;background-size:24px auto;color:red;padding-left:26px;display:inline-block;}
.d-top-news-content{margin-left:88px;border-left:solid 1px #eee;padding-left:8px;}

.d-item-group.mui-grid-view.mui-grid-9{padding:0;}
.d-item-group.mui-grid-view.mui-grid-9 .mui-table-view-cell{padding:0 12px;text-align:center;}
.d-index-item-left{text-align:center;background-color:#fff!important;}
.d-index-item-left img{/*margin:10px 0;*/max-width:83%;}
.d-index-title{padding:8px 0;text-align:left;font-size:14px;}
.d-index-ico{margin-right:4px;display:inline-block;width:20px;height:20px;background:url(../images/btn_009.png) no-repeat 0 50%;background-size:100% auto;vertical-align:middle;}
.d-index-ico-yqtj{background-image:url(../images/btn_008.png);}
.d-index-ico-qctm{background-image:url(../images/btn_004.png);}
.d-index-ico-slbb{background-image:url(../images/liwu_btn.png);}
.d-index-ico-rmb{background-image:url(../images/bnt_001.png);}
.d-index-dateinput{border:solid 1px #eee;border-radius:5px;min-width:17px;display:inline-block;text-align:center;background:#000;color:#fff;}
.d-index-item-right{padding:0!important;}
.d-index-item-left{float:left;}
.d-index-item-right{float:right;}
.d-index-item-right .d-cols2{display:none;}
.d-index-item-right .d-index-title{padding:10px 15px;border-bottom:solid 1px #eee;}
.d-index-item-xsqg .d-index-title a{color: #e21902;}
.d-index-item-yqtj .d-index-title{color:#ff7c07;}
.d-index-item-qctm .d-index-title{color:#a467c4;}
.d-index-item-slbb .d-index-title{color:#ff3007;}
.d-index-rmbtitle{color:#ff0000;}
.d-index-item-right .d-table-view.mui-table-view.mui-grid-view .mui-table-view-cell{padding:6px 6px;}
.d-index-item-right .d-table-view.mui-table-view.mui-grid-view .mui-table-view-cell:first-child{}
.d-index-datebox{color:#000; white-space: nowrap;}
.d-item-group.mui-grid-view.mui-grid-9{background:url(../images/border.png) repeat-y 71% 10px #fff !important;}
.d-index-item-right .d-index-title{background:#fff;margin:1px;padding:8px 15px;}

.d-index-rmbtitle{background:#fff;padding:4px 10px;}
.imgbox{display:block;}


.mui-bar .mui-icon-more:before {content: "...";}
.mui-bar-nav{}
.mui-bar-nav.member-header .mui-icon{color:#212121;text-align: center;}


.mui-content{background-color:transparent;}
.member-header{background-color: #fff; -webkit-box-shadow: 0 0 0 #1655bf; box-shadow: 0 0 0 #1655bf;}
.member-header .mui-icon-left-nav.mui-pull-left,.member-header .mui-title{color:#212121;}
.d-btn-orange{background:#1655bf;padding:6px 0;color:#fff;border:none;padding:0;height:40px;}
.d-btn-orange:active{background:#1655bf!important;}

.d-login-txtbtnbox{height: 40px;color: #666;line-height: 40px;}
.d-login .mui-input-row{margin-top:10px;border:solid 1px #eee;border-radius:5px;background:#fff;}
.d-login .mui-input-row label{color:#1655bf;padding-top:12px;}

.f-orange{color:#fa4d3e;}
/*register*/
.d-tel-inputbox{background:#fff;border-radius:5px;border:solid 1px #eee;margin-top:20px;}
.d-tel-inputbox.mui-input-row label{color:#1655bf;line-height:inherit;border-right:solid 1px #eee;width:18%;padding:10px;text-align:center;}
.d-tel-inputbox.mui-input-row label~input{width:80%;}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{color:#1655bf;}

.d-yz-inputbox.d-tel-inputbox.mui-input-row label{float:right;color:#fff;background:#ddd;width:31%;margin-right:-1px;}
.d-yz-inputbox.d-tel-inputbox.mui-input-row label~input{width:69%;padding-left:10px;}
.mui-input-row input{margin-bottom:0;}

.imgbox{width:60px;height:60px;float:left;border:solid 1px #eee;text-align:center;overflow:hidden;}
.imgbox-cont{margin-left:70px;}
.d-btn{background:#1655bf;border:solid 1px #1655bf;color:#fff;padding:3px 5px;min-width:55px;min-height:29px;}
.d-orderlist .d-btn{font-size:12px;}
.d-btn:active{background:#1655bf;}
.d-btn-menber{background:#fff;color:#666;border:solid 1px #666;}
.d-btn-menber:active{background:#fff!important;border:solid 1px #666!important;}

.d-btn-margin{margin-top:22px;}

input, select, textarea{font-size:14px;}
.d-index-ico{margin-top:-4px;}

::-webkit-input-placeholder{line-height: normal;}
.d-content-padded{padding:10px;}

/*dl*/
.d-login .mui-input-row label{width:90px;float:left;}
.d-login .mui-input-row input{width: auto;margin-left: 90px;float: none;display: block;}
.mw_btn{display:inline-block;width:20px;height:20px;background:url(../images/mw_ico.png) no-repeat;background-size:100% auto;position:absolute;top:13px;right:9px;}


/*.d-index-title{position:relative;}
.d-index-item-right .d-index-title{border-bottom:none;}
.d-index-item-right .d-index-title:after{content:"";position:absolute;bottom:0;left:1px;right:-1px;height:1px;background:#ccc;-webkit-transform:scaleY(.5);}*/
nav#footer-public-link{box-shadow:none;border-top:solid 1px #eee;}


.mui-input-row input::-webkit-input-placeholder { /* WebKit browsers */

  /*padding-top:10px;*/
}
.mui-input-row input{line-height:16px;border-color:#eee;}
.mui-slider .mui-slider-group .mui-slider-item{font-size:12px;}
.mui-segmented-control{font-size:12px;}

.index-md .price del{display:block;-webkit-box-flex:1;width: 0%;text-align: right;font-size: 12px;color: #999;}
.xxMessage{margin-left:0!important;}
.mui-btn-block:hover{background-color: #1655bf!important;}


.loginIdex_content{margin-top:20px;}
#register{padding-left:3px;}


.login_imgHome{width:20px;vertical-align:-17px;}

.productImage{background-color:#fff;}


.mui-bar-nav.member-header{transition:background linear .6s;}
/*index-header*/
.index-header.mui-bar{background:#1655bf;box-shadow:none;}
.index-header-member{width: 22px;margin-top: 10px;}
.index-header.mui-bar .mui-title.search{background:#e04306;right:42px;position:absolute;top:7px;border-radius:20px;}

.index-header.mui-bar .mui-title form input{background:#e04306;float:left;padding-left:40px;margin-top:-29px;text-align:left;color:#f4bfaa;font-size:12px;}
.index-header.mui-bar .mui-title form input::-webkit-input-placeholder{color:#f4bfaa;font-size:12px;line-height:19px;} 
.index-header.mui-bar .mui-title.search i{color:#f4bfaa;margin-left:0;font-size:20px;}
.index-header-searchbtn{color: #ffe2dc;font-size: 15px;position: absolute;right: 10px;line-height: 44px;font-size:12px;}

.index-md.index-sjzx{background:#fff;}
.index-sjzx .d-index-rmbtitle{border-bottom: solid 1px #ebebeb;padding:6px 10px;color:#535353;}
.index-sjzx .d-index-title .fr{float:right;color:#1655bf;font-size:10px;}
.index-sjzx li{width:33.333%;}
.index-sjzx li a{box-shadow:#ddd 0 0 1px;}
.index-sjzx li div{margin:0px 3px 5px 3px;}
.index-sjzx ul{padding:6px;}
.index-sjzx li div .name{font-size:12px;height:26px;min-height:26px;white-space:nowrap;text-overflow: ellipsis;}
.index-sjzx li div .price{line-height:24px;height:26px;}

.d-item-group.mui-grid-view.mui-grid-9 .mui-table-view-cell{margin-top:0;}
.d-item-group{margin:10px 5px 0;}
.d-index-item-left{width:36%;!important;}
.d-index-item-right{width:64%;!important;}
.d-item-group .d-index-dateinput{width:30px;}
.d-index-item-right{text-align:center;}
.d-index-item-right img{max-width:94%;}
.d-index-item-right a:first-child{border-bottom:solid 1px #eee!important;}
.d-index-item-left .d-index-title{}
.d-ad{text-align:center;}

#index-sjzx .mui-slider-indicator{bottom: -7px;}
#index-sjzx .mui-slider-indicator .mui-active.mui-indicator {background: #1655bf;}
#index-sjzx .mui-slider-indicator .mui-indicator{-webkit-box-shadow: none;}

/**/
body,html{margin:0;padding:0;background:#efefef;}
.index.index-header.mui-bar{position: absolute;}
.mui-content .index-header.mui-bar{background: transparent;}
.index.index-header.mui-bar .mui-title.search{background-color:rgba(255,255,255,.255);right: 35px;}
.index.index-header.mui-bar .mui-title form input{background:transparent;color: #fff;}
.index.index-header.mui-bar .mui-title form input::-webkit-input-placeholder{color:#fff;}
.index.index-header.mui-bar .mui-title.search i{color:#fff;  font-size: 0;
  background: url(../images/index-searchioc.png) no-repeat 10px;
  background-size: 16px auto;}
.index.index-header.mui-bar .index-header-searchbtn{background:url(../images/index-header-addr.png) no-repeat;background-size:100% auto;display:inline-block;width:14px;height:19px;top: 11px;}
.index-header-sys{width:15px;height:15px;display:block;background:url(../images/index-header-shaoyishao.png) no-repeat;background-size:100% auto;position:absolute;right: 11px;top: 7px}

.d-nav-ico{display:-webkit-box;padding: 10px 5px!important;font-size:12px; padding: 4px 5px 6px!important;}
.d-nav-ico li{width:20%;text-align:center;}
.d-nav-ico li img{width:80%;margin-bottom:8px;width:38px;}
.d-nav-ico li .list-img{height:52px;}
.d-nav-ico li.jrth img{width:42px;}
.d-nav-ico li a{color:#666;}
.d-xsqg-view.mui-grid-view.mui-grid-9 .mui-table-view-cell{margin:0px 0px 0px -1px;}

.d-index-hd{height:35px;line-height:35px;position:relative;border-bottom:solid 1px #ebebeb;}
.d-index-hd:after{content:"";background:#fe0231;position:absolute;width:5px;height:100%;left:0;display:inline-block;}
.d-index-hd-name{font-size:15px;padding-left:10px;}
.index-sjzx .d-index-hd-name{color:#fe0231;}
.d-index-hd-more{float:right;padding-right:19px;margin-right:5px;position:relative;color:#fe0231;font-size:12px;}
.d-index-hd-more:after{content:"";width:14px;height:14px;background:url(../images/d-index-hd-morebg.png) no-repeat;background-size:100% auto;display: inline-block;position: absolute;right:0;top: 28%;}

.d-clearfix{zoom: 1;}
.d-clearfix:after {content:""; display:block; height:0; visibility:hidden; clear:both; }
.rxlist li{padding: 10px 5px;border-bottom: solid 1px #ebebeb;}
.rxlist li a{color:#999;}
.rxlist li .list-img{width:72px;height:72px;border: solid 1px #ebebeb;float:left;overflow:hidden;}
.list-img{position:relative;text-align:center;}
.list-img img{}
.name{font-size:14px;line-height:18px;color:#222;  overflow: hidden;}
.rxlist li .name{height: 18px;}
.rxsp .d-index-hd{background:url(../images/rx_bg.png) no-repeat 21px 3px;background-size:10px auto;}
.rxsp .d-index-hd .d-index-hd-name{padding-top: 4px;display: inline-block;}
.type{margin-bottom: 3px;margin-bottom: 6px;}
.pj{}
.sale-price{font-size:15px;color:#1655bf;padding-right:7px;}
.rxlist li .list-cont{margin-left:82px;padding:3px 0 0 0;}
.price del{font-size:11px;}
.rxlist li .list-cont .d-btn{float:right;margin-top: -7px;background:#fff;color:#1655bf;background:url(../images/qg-btn.png) no-repeat;background-size: 63px auto;border: none;
  width: 63px;
  height:30px;display:inline-block;
  font-size: 0;}
.toptag{  display: block;width: 48px;height: 14px;line-height: 14px;position: absolute;top: 0;background: #999;z-index: 2;color: #fff;transform: scale;text-align: center;-webkit-transform: rotate(-45deg);
  left: -14px;
  font-size: 12px;
  top: 2px;}
.toptag.curr{background: #1655bf;}


.d-hotnews{border-top: solid 1px #ebebeb;padding: 10px 10px;}
.d-hotnews img{float: left; width: 88px;}
.d-hotnews ul{margin-left: 96px;margin-top: -3px;height: 18px;overflow: hidden;font-size: 12px;}
.d-cols2{width:50%;float:Left;}
.d-index-item-left,.d-index-item-right{margin-left:0!important;}
.d-index-item-right a:last-child{border-left: solid 1px #ebebeb;}

.d-index-hd2{color:#999;font-size:11px;}
.d-pph .d-index-hd2{font-size:10px;line-height: 14px;}
.d-index-item-xsqg.mui-table-view-cell{padding: 11px 5px!important;}
.d-index-datebox{font-size:11px;}

.index-sjzx li{float:left;width:25%;text-align:center;}
.index-sjzx ul {padding: 10px 6px;}
.index-sjzx li .list-img{border-right:solid 1px #ebebeb;}
.lis-img{width: 100%;height: 76px;position:relative;}
.index-sjzx li .price del{font-size:12px;color:#999;}

.index-sjzx li div .price {line-height: 18px;height: 26px; margin:10px 0 18px;display: block;}
.index-sjzx li:last-child .list-img{border-right:none!important;}
.index-sjzx li .list-img img{top:0;transform:translateY(0);}
.sjzx-tag{position: absolute;background:url(../images/sjzx_tag1.png) no-repeat;background-size:100% auto;
  right: 0;
  display: inline-block;
  width: 25px;
  height: 14px;
  z-index: 3;
  bottom: 0;}
.cart-font{display:inline-block;width:16px;height:16px;background:url(../images/index_gwc.png) no-repeat;background-size:100% auto;margin-left: 6px;margin-bottom: -3px;}


.d-pph-item{display: -webkit-box;}
.d-cols-6{width:50%;display:-webkit-box;border-right: solid 1px #ebebeb;border-bottom: solid 1px #ebebeb;}
.d-cols-6:last-child{border-right:none;width: 44%;}
.d-imgpic{width:50%;  padding: 10px 5px;}
.d-cols-6 .d-imgpic{border-right:solid 1px #ebebeb;}
.d-cols-6 .d-imgpic:last-child{border:none;}
.rowsbox .d-imgpic{border:none;border-bottom:solid 1px #ebebeb;}
.d-bigpic{border-bottom:none;}
.d-bigpic{width:60%;}
.d-bigpic ~ .d-imgpic{width:40%;}
.d-rows{width:100%;}
.d-bigpic .d-pph-img{width: 62%;margin: 0 auto;}
.d-pph-title{margin-bottom:6px;}

.d-pph-item .d-cols-6:first-child{ width: 57%;padding-left: 5px;}

.rowsbox{-webkit-box-orient: vertical;}
.d-rows{-webkit-box-pack: justify;display: -webkit-box;}
.rowsbox .d-pph-title{/*width:58%;*/}
.d-pph-img{width:80px;max-width:100%;}
.rowsbox .d-pph-img{width:35px;}


/*indexsider*/
.slider{position:relative;}
.slider .hd{position: absolute;z-index: 3; width: 100%;text-align: center;bottom: 0;}
.slider .hd a{display:inline-block;width:8px;height:8px;border-radius:50%;background:#a0033b;margin:0 4px;}
.slider .hd a.on{background:#fff;}

.d-group{margin-top:10px;}
.d-nav-ico{padding:12px 10px 10px!important;}
.d-nav-ico.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{margin-top: 5px;color:#666;}
.d-item-group{box-shadow: none;border-bottom:none;margin-bottom: 9px;}
.d-index-dateinput{border:solid 1px #f7f7f7;}
.d-index-item-right img {max-width: 93%;}
.d-index-item-left .d-index-title{padding: 1px 0 8px;margin-top:-2px;}
.d-index-item-left img{max-width: 78%;}
.index-header.mui-bar .mui-title.search{background:none;}
.index-header.mui-bar .mui-title form input{background:#fff;}
.index-header.mui-bar .mui-title.search i{font-size:16px;color:#BBBBBB;z-index:33;}
.index-header.mui-bar .mui-title form input::-webkit-input-placeholder { /* WebKit browsers */
color: #BBBBBB;
}
.index-header.mui-bar .mui-title form input{border-radius:40px;  opacity: 0.9;padding-left: 34px;}
.index-header.mui-bar .mui-title.search{overflow:inherit;top: 5px;}
.index-header-searchbtn{line-height: 39px;}
.index-sjzx .d-index-rmbtitle{border-bottom:none;padding-top:12px;text-align:center;position:relative;padding-bottom: 1px;}
/*
.index-sjzx .d-index-rmbtitle:after{content:"";height:1px;background:#eee;position:absolute;left:0;right:0;top:20px;z-index:0;}
.index-sjzx .d-index-rmbtitle:before{content:"";height:20px;background:#fff;width:80px;position:absolute;left:50%;top:10px;margin-left:-40px;z-index:0;}
*/
.title-txt{position: relative;z-index:4;width: 100%;display: inline-block;}
.index-sjzx li div .name{border:none;}
.index-md .price del{color: #D8D8D8;}
.index-sjzx ul{padding: 6px 3px;}

#index-sjzx .mui-slider-indicator{  bottom: 0px;}
#index-sjzx{padding-bottom: 12px;}
.index-md li div{margin: 6px 4px 2px 4px;}
.index-sjzx li div {margin: 0px 5px 5px 5px;}
.rmb.index-md .d-index-rmbtitle{text-align: center;margin-bottom:3px;position:relative;  background: transparent;color: #999;margin-bottom: -3px;margin-top: -3px;}
.rmb.index-md .d-index-rmbtitle .d-index-ico-rmb{display:none;}
.rmb.index-md li div .name{border:none;  padding: 0px 12px;}
.rmb.index-md li div .price{padding: 0px 9px;margin-bottom:2px;}
.rmb.index-md li>div .icon{margin-bottom:8px!important;}


.rmb .d-index-rmbtitle:after{content:"";height:1px;background:#E0E0E0;position:absolute;left:0;right:0;top:14px;z-index:0;}
.rmb .d-index-rmbtitle:before{content:"";height:1px;background:#F2F2F2;width:80px;position:absolute;left:50%;top:14px;margin-left:-40px;z-index:1;}
.d-group{margin-top:10px;}


.nav-content{padding-bottom:74px;}
.jrth img{margin-top:-3px;}
.d-nav-ico li .list-img{height:46px;}
.d-index-item-left .d-index-title img{max-width: 100%;}
 
.mui-popup{position: fixed;-webkit-transform: translate3d(0,0,0) scale(1);top:32%;}
.mui-popup.mui-popup-in{
	-webkit-transform: translate3d(0,0,0) scale(1);
	margin-left:-135px;
}
.mui-popup.mui-popup-out{
	-webkit-transform: translate3d(0,0,0) scale(1);
	margin-left:-135px;
}

 .mui-table-view:before{background-color: #ebebeb;}
 .mui-toast-container {
    position: fixed;
    bottom: 50px;
    z-index: 9999;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s
}
.mui-toast-message {
    width: 270px;
    padding: 5px;
    margin: 5px auto;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #333;
    border-radius: 7px
}



.d-item-group .meihua-img {
	background-size: 100% 100%!important;
	background-image:url(../images/meihua.jpg)!important;
	padding: 30px 10px 30px!important;
}
.d-nav-ico li .list-image {margin-top: 4px!important;}

.hot-news {border-top: 10px solid #efefef!important;}
.mui-media-body{color:#666666!important;}
.d-hotnews ul li a{color:#333333!important;}

/**zy-update-footer*/
.member-footer-img img{width: 22px;height: 22px;}
.member-footer-label{color: #656565;font-size: 12px;}
.member-footer-labelactive{color: #ff510d;}

/**密码说明*/
.nav-help{
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    right: 10px;
    zoom: 1;
	background-image: url(../../images/code_help@3x.png);
}
.winCC{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: none;
}
.findPwd{
    width: 85%;
    max-width: 500px;
    height: 300px;
    background: #fff;
    margin: auto;
    margin-top: 45%;
    border-radius: 5px;
}
.logininfo{
	height:255px;
	margin-top: 50%;
}
.findPwd h1{
	color:#1655bf;
	margin: 0 0 10px 0;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}
.findp{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #333;
    display: block;
    padding: 0 20px 0 45px;
    background-repeat: no-repeat;
    background-position: 20px 7px;
    background-size: initial;
    zoom: 1;
}
.des-detail b{
	color:#1655bf;
	font-weight:400;
}
.phoneff{
	background-image: url(../../images/code_mob.png);
}
.peopleff{
	background-position: 20px 8px;
	background-image: url(../../images/code_tel.png);
}
.infoff{
	background-image: url(../../images/login_info.png);
}
.setff{
	background-position: 20px 8px;
	background-image: url(../../images/login_set.png);
}
.des-detail{
	width:100%;
	height:auto;
	padding:0 20px;
	color:#999;
	font-size:14px;
	margin-bottom: 15px;
}
.des-detail strong{
    color: #007aff;
    padding: 0 2px;
}
.btn-know{
    width: 90%;
    margin: 32px auto 0 auto;
    clear: both;
    color: #fff;
    background: #1655bf;
    border: 0;
    outline: 0;
    font-size: 16px;
    display: block;
    padding: 8px 0;
}
#footerc{
	top:-20px!important;
    width: 50px!important;
    height: 50px!important;
}