<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="applicationName" source="spring.application.name" scope="context"/>
<!--    <property resource="bootstrap.yml"/>-->

    <property name="pattern" value="[%-5level] [%date{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %logger{10}:%line %X{method} - %msg%n"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>5</discardingThreshold>
        <queueSize>1024</queueSize>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger level="debug" name="org.springframework.web.servlet.DispatcherServlet" additivity="false">
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <logger level="trace" name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" additivity="false">
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <logger level="trace" name="org.springframework.web.servlet.mvc.method.annotation.ServletInvocableHandlerMethod" additivity="false">
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <root level="info">
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>
</configuration>
