<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <property name="log.context.name" value="cdfive-api" />
    <property name="log.pattern" value="[ %-5level] [%date] [%thread] %logger{96} [%line] - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                ${log.pattern}
            </pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/${log.context.name}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>64MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <prudent>true</prudent>
    </appender>

<!--    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>127.0.0.1:9100</destination>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--            <fieldNames>-->
<!--                <timestamp>@timestamp</timestamp>-->
<!--                <version>@version</version>-->
<!--                <message>message</message>-->
<!--                <logger>logger_name</logger>-->
<!--                <thread>thread_name</thread>-->
<!--                <level>level</level>-->
<!--                <levelValue>[ignore]</levelValue>-->
<!--            </fieldNames>-->
<!--            <customFields>{"appName":"${log.context.name}"}</customFields>-->
<!--        </encoder>-->
<!--    </appender>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
<!--        <appender-ref ref="LOGSTASH" />-->
    </root>
</configuration>