@charset "utf-8";

.index-header{
    background: #4d7496;
    height: 48px;
    width: 100%;
    border-bottom: 4px solid #2a4053;
}
.index-header-logo{
    /* width: 230px; */
    float: left;
    height: 48px;
    line-height: 48px;
    color: #fff;
}
.index-header-logo .pic{
    float: left;
    width: 50px;
}
.index-header-logo h2{

    font-size: 24px;
    line-height: 2;
    padding: 0;
    margin: 0;
}
.index-header-btn{
    cursor: pointer;
    float: left;
    line-height: 48px;
    width: 30px;
    color: #fff;
}
.index-header-user{
    float: right;
    position: relative;
    height: 48px;
    line-height: 48px;
    border-left: 1px solid #2a4053;
    padding: 0 30px;
    margin-right: 2%;
}
.index-header-user .user-info{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;  }
.index-header-user .user-info:hover{  text-decoration: none;  }
.index-header-submenu{
    display: none;
    padding-left: 0;
    background-color: #fff;
    position: absolute;
    top: 48px;
    right: 0;
    width: 150px;
    border-radius: 5px;
    box-shadow: -5px 5px 15px rgba(0,0,0,.5);
    z-index: 30;
}
.index-header-submenu a{
    display: block;
    color: #000;
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
}
.index-header-submenu a:hover{
    background-color: #eee;
}
.index-contain{
    position: absolute;
    width: 100%;
    top: 48px;
    bottom: 0;
}
.index-contain-sidebar{
    position: absolute;
    width: 220px;
    left: 0;
    bottom: 0;
    background: #f9f9f9;
    height: 100%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.index-contain-sidebar:hover{ box-shadow: 5px 0 0 #eee;}
.index-contain-content{
    margin-left: 220px;
    width: auto;
    height: 100%;
     -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    overflow-y: auto;
    overflow-x: hidden;
}
.siderbar-nav{  padding: 0;  }
.siderbar-nav-items a{
    display: block;
    height: 48px;
    line-height: 48px;
    padding-left: 30px;
    border-bottom: 1px solid #ebebeb;
    color: #000;
    font-size: 12px;
}
.siderbar-nav-items>a{
    position: relative;
    font-weight: bold;
}
.siderbar-nav-items a:hover {
    background-color: #fdfdfd;
}
.siderbar-nav-items a i{
    margin-right: 10px;
}
.siderbar-nav-items a span{
    position: absolute;
    top: 0;
    left: 200px;
    line-height: 48px;
}
.siderbar-nav-items.current>a {  border-right: 3px solid #668eb0;  }
.siderbar-nav-items .sub-menu{
    display: none;
    width: 100%;
    padding-left: 0;
    background-color: rgb(241, 241, 241);
}
.siderbar-nav-items ul li.current{
	background-color:#b7b7b7;
}
.siderbar-nav-items .sub-menu li:hover, .siderbar-nav-items .sub-menu li a:hover{
	background-color:#cacaca;
}
/* .siderbar-nav-items .sub-menu a:hover{
    background: rgba(255,255,255,0.5);
} */
.db{display: block!important;}
a:active,a:visited,a:link,a:hover{text-decoration: none!important;}

.btn-et{
	background:#4d77cc;
	color:#fff;
	padding:6px 30px;
}
.btn-et:hover{
	color:#fff;
	background:#337ab7
}

.content-wp {
	padding:  0 20px;
}
.page-header h2{
	border-left:4px solid #668eb0;
	padding-left:10px;
}
.sideLayer{
	min-width:800px;
	padding:0 10px;
}
.opsel.form-control{
	width:auto!important;
}
